---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
  <!--<div class="mb-5">-->
  <!--  <div class="text-3xl w-full font-bold">Profile</div>-->
  <!--</div>-->

  <!--<div class="mb-10 text-justify">-->
  <!--  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna-->
  <!--  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis-->
  <!--  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat-->
  <!--  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
  <!--</div>-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Professional Appointments</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Insitute of Science and Technology Austria | Feb23-*"
      subtitle="Postdoctoral Researcher | Under the supervision of Asst. Prof. Maria Ibáñez"
    />
    <TimeLineElement
        title="Insitute of Science and Technology Austria | Nov21-Jan23 "
        subtitle="Postdoctoral Researcher | Under the supervision of Asst. Prof. Bingqing Cheng"
    />
    <TimeLineElement
        title="University College Dublin | Sep20-Aug21 "
        subtitle="Postdoctoral Researcher | Under the supervision of Asst. Prof. Nuala Caffrey"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Queen's University Belfast | Oct17-Aug20"
      subtitle="Doctor of Philosophy | Under the supervision of Prof. Peijun Hu and Assoc. Prof. Jillian Thompson"
    >
    </TimeLineElement>
    <TimeLineElement
        title="Queen's University Belfast | Oct13-Jul17"
        subtitle="MSci Chemistry | School of Chemistry and Chemical Engineering"
    >
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Conferences</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <!--<li>-->
    <!--  <a href="#" target="_blank">Irish Universities Chemistry Research Colloquium</a>-->
    <!--</li>-->
    <li>
    <a>70th Irish Universities Chemistry Research Colloquium</a>
    </li>
    <li>
      <a>6th UK Catalysis Conference</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Invited Talks</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a>Dublin Universities Condensed Matter Group</a>
    </li>
    <li>
      <a>Cambridge University Soft Matter Group</a>
    </li>
    <li>
      <a>Zheijiang University of Technology</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Teaching</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://rjbunting.github.io/teaching/" target="_blank">Course Lead - An Introduction to Computational Chemistry</a>
    </li>
    <li>
      <a href="https://rjbunting.github.io/teaching/" target="_blank">Course Lead - An Introduction to Catalysis</a>
    </li>
    <li>
      <a>Workshop Coordinator - Physical Chemistry (Computational Chemistry)</a>
    </li>
    <li>
      <a>Summer School Lecturer - QUB Chinese Exchange Chemistry Summer School</a>
    </li>
    <li>
      <a>Demonstrator - Physical Chemistry / Foundation Mathematics</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Refereeing</div>
  </div>
  <ul class="list-disc md:columns-1 columns-1 mx-6">
    <li>Journal of Chemical Physics</li>
    <li>Journal of the American Chemical Society</li>
  </ul>

</BaseLayout>
