---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>

  <HorizontalCard
      title=""
      img="/mos2.jpeg"
      authors="RJ Bunting, NM Caffrey*"
      desc="Journal of Chemical Physics"
      badge="NEW"
      url="https://doi.org/10.1021/acscatal.0c04125"
  ><p>The effects of polymorphism and lithium intercalation on the hydrogen evolution reaction for the basal planes of MoS<sub>2</sub></p>
  </HorizontalCard>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Reactivity of Single-Atom Alloy Nanoparticles: Modeling the Dehydrogenation of Propane"
    img="/reactivity.gif"
    authors="RJ Bunting*, F Wodaczek, T Torabi, B Cheng"
    desc="Journal of the American Chemical Society"
    badge="NEW"
    url="https://doi.org/10.1021/jacs.3c04030"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Understanding and tackling the activity and selectivity issues for methane to methanol using single atom alloys"
    img="/understanding.gif"
    authors="RJ Bunting, PS Rice, Z Yao, J Thompson, P Hu*"
    desc="Chemical Communications"
    url="https://doi.org/10.1039/D2CC03183C"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
      title=""
      img="/quantitative.gif"
      authors="Z Yao, J Zhao, RJ Bunting, C Zhao, P Hu, J Wang*"
      desc="ACS Catalysis"
      url="https://doi.org/10.1021/acscatal.0c04125"
  ><p>Quantitative Insights into the Reaction Mechanism for the Direct Synthesis of H<sub>2</sub>O<sub>2</sub> over Transition Metals: Coverage-Dependent Microkinetic Modeling</p>
  </HorizontalCard>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Investigating the innate selectivity issues of methane to methanol: consideration of an aqueous environment"
    img="/investigating.gif"
    authors="RJ Bunting, PS Rice, J Thompson, P Hu*"
    desc="Chemical Science"
    url="https://doi.org/10.1039/D0SC05402J"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The mechanism and ligand effects of single atom rhodium supported on ZSM-5 for the selective oxidation of methane to methanol"
    img="/the.gif"
    authors="RJ Bunting, J Thompson, P Hu*"
    desc="Physical Chemistry Chemical Physics"
    url="https://doi.org/10.1039/D0CP01284J"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
      title=""
      img="/amorphous.gif"
      authors="RJ Bunting, X Cheng, J Thompson, P Hu*"
      desc="ACS Catalysis"
      url="https://doi.org/10.1021/acscatal.9b01942"
  ><p>Amorphous Surface PdO<sub>X</sub> and Its Activity toward Methane Combustion</p>
  </HorizontalCard>
</BaseLayout>
