---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Teaching Philosophy" sideBarActiveItemID="teaching">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Teaching Philosphy</div>
        <p class="text-lg mb-6">
            My teaching philosophy centers on fostering curiosity, critical thinking, and practical skills in computational chemistry and catalysis. I strive to create an inclusive and engaging learning environment, encouraging students to explore, question, and apply scientific concepts to real-world challenges.
        </p>
    </div>
    <div>
        <div id="computational-chemistry" class="text-3xl w-full font-bold mb-5">Computational Chemistry</div>
    </div>

    <HorizontalCard
            title="Introduction to Computational Chemistry Workshops"
            img="/h2.png"
            desc="Jupyter Notebooks for the course"
            url="https://github.com/rjbunting/introcompchemnotebooks"
            badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
            title="Lecture Slides"
            img="/chemistryslides.png"
            desc="Lecture slides for my 'An Introduction to Computational Chemistry' course"
            url="https://1drv.ms/p/s!AgEBZympJpEbhQFu2u64HWlnLAQI"
    />



    <div>
        <div id="catalysis" class="text-3xl w-full font-bold mb-5 mt-10">Catalysis</div>
    </div>

    <HorizontalCard
            title="Lecture Slides"
            img="/catalysisslides.png"
            desc="Lecture slides for my 'An Introduction to Catalysis' course"
            url="https://1drv.ms/p/s!AgEBZympJpEbhFlHNu-2NOqKiCCc"
    />
    <div class="divider my-0"></div>
</BaseLayout>
